<!doctype html>
<html lang="tr" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/assets/images/Lacivert.png" type="image/x-icon" />
    <title>Eğitim Yıldızı</title>


    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css" />

    <!-- Core css -->
    <link rel="stylesheet" href="/assets/css/style.min.css" />
</head>

<body class="font-muli dark-mode gradient right_tb_toggle">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
        </div>
    </div>

    <div id="main_content">
        <!-- Start Main top header -->
        <div id="header_top" class="header_top">
            <div class="container">
                <div class="hleft">
                    <a class="header-brand" href="index"><i class="fa fa-graduation-cap brand-logo"></i></a>
                    <div class="dropdown">
                        <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i
                                class="fe fe-align-center"></i></a>
                    </div>
                </div>
                <div class="hright">
                    <a href="logout" class="nav-link icon settingbar"><i class="fe fe-power"></i></a>
                </div>
            </div>
        </div>
        <!-- Start Main leftbar navigation -->
        <div id="left-sidebar" class="sidebar">
            <h5 class="brand-name">Eğitim Yıldızı<a href="javascript:void(0)" class="menu_option float-right"><i
                        class="icon-grid font-16" data-toggle="tooltip" data-placement="left"
                        title="Grid & List Toggle"></i></a></h5>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu-uni">Menü</a></li>
            </ul>
            <div class="tab-content mt-3">
                <div class="tab-pane fade show active" id="menu-uni" role="tabpanel">
                    <nav class="sidebar-nav">
                        <ul class="metismenu">
                            <li><a href="index"><i class="fa fa-dashboard"></i><span>Ana Sayfa</span></a></li>
                            <li><a href="students"><i class="fa fa-users"></i><span>Öğrenciler</span></a></li>
                            <li><a href="courses"><i class="fa fa-book"></i><span>Kütüphane</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Start project content area -->
        <div class="page">
            <!-- Start Page header -->
            <div class="section-body" id="page_top">
                <div class="container-fluid">
                    <div class="page-header">
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <!-- Start Page title and tab -->
            <div class="section-body">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="header-action">
                            <h1 class="page-title">Düzenle</h1>
                            <ol class="breadcrumb page-breadcrumb">
                                <li class="breadcrumb-item">Eğitim Yıldızı</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Düzenle</li>
                            </ol>
                        </div>
                        <ul class="nav nav-tabs page-header-tab">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#edit">Düzenle</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="section-body mt-4">
                <div class="container-fluid">
                    <div class="tab-content">
                        <div class="tab-pane active" id="edit">
                            <div class="row">
                                <div class="col-xl-4 col-md-12">
                                    {{#each ögr}}
                                    <div class="card">
                                        <div class="card-body w_user">
                                            <div class="user_avtar">
                                                <img class="rounded-circle" src="/assets/images/sm/avatar.jpg" alt="">
                                            </div>
                                            <div class="wid-u-info">
                                                <h5 class="text-center">{{adı}} {{soyisim}}</h5>
                                                <h5 class="text-center">{{id}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Öğrenci Profili</h3>
                                            <div class="card-options ">
                                                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                                                        class="fe fe-chevron-up"></i></a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <b>Adı</b>
                                                    <div class="profile-desc-item pull-right">{{adı}}</div>
                                                </li>
                                                <li class="list-group-item">
                                                    <b>Soyadı </b>
                                                    <div class="profile-desc-item pull-right">{{soyisim}}</div>
                                                </li>
                                                <li class="list-group-item">
                                                    <b>Email </b>
                                                    <div class="profile-desc-item pull-right">{{email}}
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <b>Sınıf</b>
                                                    <div class="profile-desc-item pull-right">{{sınıf}}</div>
                                                </li>
                                                <li class="list-group-item">
                                                    <b>Telefon Numarası</b>
                                                    <div class="profile-desc-item pull-right">{{telefon}}</div>
                                                </li>
                                                <li class="list-group-item">
                                                    <b>Veli Adı</b>
                                                    <div class="profile-desc-item pull-right">{{veliadı}}</div>
                                                </li>
                                                <li class="list-group-item">
                                                    <b>Veli Telefon Numarası</b>
                                                    <div class="profile-desc-item pull-right">{{velitel}}</div>
                                                </li>
                                                <li class="list-group-item">
                                                    <b>Okulu</b>
                                                    <div class="profile-desc-item pull-right">{{okulu}}</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                <div class="col-xl-8 col-md-12 col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Düzenle</h3>
                                            <div class="card-options ">
                                                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                                                        class="fe fe-chevron-up"></i></a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <form action="guncelle?id={{id}}" method="POST" autocomplete="off">
                                                <div class="row clearfix">
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Adı</label>
                                                            <input type="text" class="form-control" name="adı"
                                                                style="color:#7d8490;">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Soyadı</label>
                                                            <input type="text" class="form-control" name="soyisim"
                                                                style="color:#7d8490;">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input type="text" class="form-control" name="email"
                                                                style="color:#7d8490;">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label>Sınıfı</label>
                                                        <select class="form-control show-tick" name="sınıf"
                                                            style="color:#7d8490;">
                                                            <option value="">Sınıf Seçiniz...</option>
                                                            {{#each allsnf}}
                                                            <option value={{_id}}>{{sınıf}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Telefon Numarası</label>
                                                            <input type="text" class="form-control" name="telefon"
                                                                style="color:#7d8490;">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Okulu</label>
                                                            <input type="text" class="form-control" name="okulu"
                                                                style="color:#7d8490;">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Veli Adı</label>
                                                            <input type="text" class="form-control" name="veliadı"
                                                                style="color:#7d8490;">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Veli Telefon Numarası</label>
                                                            <input type="text" class="form-control" name="velitel"
                                                                style="color:#7d8490;">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <button
                                                            onclick="return confirm('DİKKAT!!! GÜNCELLEMEK İÇİN EMİN MİSİNİZ')"
                                                            type="submit" class="btn btn-primary">Güncelle</button>
                                                        <a href="students" type="submit"
                                                            class="btn btn-outline-secondary">İptal</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Main project js, jQuery, Bootstrap -->
    <script src="/assets/bundles/lib.vendor.bundle.js"></script>

    <!-- Start project main js  and page js -->
    <script src="/assets/js/core.js"></script>
</body>

</html>