<!doctype html>
<html lang="tr" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/assets/images/Lacivert.png" type="image/x-icon" />
    <title>Eğitim Yıldızı</title>

    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css" />

    <!-- Core css -->
    <link rel="stylesheet" href="/assets/css/style.min.css" />
</head>

<body class="font-muli dark-mode gradient right_tb_toggle">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
        </div>
    </div>

    <div id="main_content">
        <!-- Start Main top header -->
        <div id="header_top" class="header_top">
            <div class="container">
                <div class="hleft">
                    <a class="header-brand" href="index"><i class="fa fa-graduation-cap brand-logo"></i></a>
                    <div class="dropdown">
                        <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i
                                class="fe fe-align-center"></i></a>
                    </div>
                </div>
                <div class="hright">
                    <a href="logout" class="nav-link icon settingbar"><i class="fe fe-power"></i></a>
                </div>
            </div>
        </div>
        <!-- Start Main leftbar navigation -->
        <div id="left-sidebar" class="sidebar">
            <h5 class="brand-name">Eğitim Yıldızı<a href="javascript:void(0)" class="menu_option float-right"><i
                        class="icon-grid font-16" data-toggle="tooltip" data-placement="left"
                        title="Grid & List Toggle"></i></a></h5>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu-uni">Menü</a></li>
            </ul>
            <div class="tab-content mt-3">
                <div class="tab-pane fade show active" id="menu-uni" role="tabpanel">
                    <nav class="sidebar-nav">
                        <ul class="metismenu">
                            <li><a href="index"><i class="fa fa-dashboard"></i><span>Ana Sayfa</span></a></li>
                            <li><a href="students"><i class="fa fa-users"></i><span>Öğrenciler</span></a></li>
                            <li><a href="courses"><i class="fa fa-book"></i><span>Kütüphane</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Start project content area -->
        <div class="page">
            <!-- Start Page header -->
            <div class="section-body" id="page_top">
                <div class="container-fluid">
                    <div class="page-header">
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <!-- Start Page title and tab -->
            <div class="section-body">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="header-action">
                            <h1 class="page-title">İçerik Ekle</h1>
                            <ol class="breadcrumb page-breadcrumb">
                                <li class="breadcrumb-item"><a>Eğitim Yıldızı</a></li>
                                <li class="breadcrumb-item active" aria-current="page">İçerik Ekle</li>
                            </ol>
                        </div>
                        <ul class="nav nav-tabs page-header-tab">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                    href="#admin-Dashboard">İçerik Ekle</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Konu ekleme -->
            <div class="section-body mt-4">
                <div class="tab-pane mt-4" id="Courses-add">
                    <div class="row clearfix">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Konu Ekle</h3>
                                    <div class="card-options ">
                                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                                                class="fe fe-chevron-up"></i></a>
                                    </div>
                                </div>
                                {{#each all}}
                                <form class="card-body" action="altadd?id={{kit_id}}" method="POST">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <b>Kitap Adı </b>
                                            <div class="pull-right">{{kit_adı}}</div>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Kitap Sınıfı </b>
                                            <div class="pull-right">{{kit_snf}}</div>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Kitap Türü </b>
                                            <div class="pull-right">{{kit_türü}}</div>
                                        </li>
                                    </ul>
                                    {{/each}}
                                    <br>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Konu Adı <span
                                                class="text-danger">*</span></label>
                                        <div class="col-md-9">
                                            <select class="form-control input-height" name="konu_adi" id="konu_adi"
                                                onchange="filterFunction()" style="color:#7d8490;" required>
                                                <option value="*">Konu Seçiniz...</option>
                                                {{#each all2}}
                                                <option value="{{konuadi}}">{{konuadi}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="alt_konu_adi">
                                        <label class="col-md-3 col-form-label">Alt Başlık <span
                                                class="text-danger">*</span></label>
                                        <div class="col-md-9">
                                            <select class="form-control input-height" name="alt_konu_adi"
                                                style="color:#7d8490;" required>
                                                <option value="*">Alt Başlık Seçiniz...</option>
                                                {{#each allalt}}
                                                <option value="{{alt_konu}}">{{alt_konu}}</option>
                                                <a href="#">{{alt_konu}}</a>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Sayfa <span
                                                class="text-danger">*</span></label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" name="sayfa"
                                                style="color:#7d8490;" autocomplete="off" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Test türü<span
                                                class="text-danger">*</span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="test_adi"
                                                style="color:#7d8490;" autocomplete="off" required>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Soru Sayısı <span
                                                class="text-danger">*</span></label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" name="soru_sayisi"
                                                style="color:#7d8490;" autocomplete="off" required>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-sm-12">
                                        <button type="submit"
                                            class="btn bg-red text-white">Ekle</button>
                                        <a href="bookanlz?id={{id}}" type="submit"
                                            class="btn btn-outline-secondary">İptal</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><!-- Konu ekleme -->
        </div>
    </div>
    <script>
        function filterFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("konu_adi");
            filter = input.value.toUpperCase();
            div = document.getElementById("alt_konu_adi");
            a = div.getElementsByTagName("option");
            for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                    console.log(a[i])
                } else {
                    a[i].style.display = "none";
                }
            }
        }
    </script>
    <!-- Start Main project js, jQuery, Bootstrap -->
    <script src="/assets/bundles/lib.vendor.bundle.js"></script>

    <!-- Start project main js  and page js -->
    <script src="/assets/js/core.js"></script>
</body>

</html>